body {
  background-color: #282a36;
  font-family: "KG Primary Italics", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #f8f8f2 !important;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
.form-control {
  color: #f8f8f2 !important;
  background-color: #6272a4 !important;
  border-color: #50fa7b !important;
}
